body {
    display: flex;
    justify-content: center;
    background-color: #120800;
}

.bodys {
    margin-top: 233px;
}

.diamond img {
    animation:
        floatUpDown 3s ease-in-out infinite,
        rotateDiamond 8s linear infinite;
}

@keyframes floatUpDown {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-31px);
    }
}
